@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Movie Flex</h1>
    <p class="lead">Movie Flex is a web portal for online rental of Hollywood,Bollywood and Tollywood movies with affodable price .</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">For Latest Movies &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hollywood Movies</h2>
        <p>
            Movie Flex provide you latest collection of hollywood movies.
           
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">2017 Collection &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bollywood Movies</h2>
        <p> Movie Flex provide you latest collection of bollywood movies.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">2017 Collection &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tollywood Movies</h2>
        <p>Movie Flex provide you latest collection of tollywood movies.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">2017 Collection &raquo;</a></p>
    </div>
</div>